@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --text-color: #00fbff;
    --bg-color: #323234;
    --white: #fff;
    --black: #000;
    --mob-color: #444444;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

header {
    background: var(--bg-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    z-index: 1;
}

nav .logo a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: var(--white);
}

